<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071220220529-vp1o46okkbtv09a1manlj2972tubn2i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071220220529-vp1o46okkbtv09a1manlj2972tubn2i2</string>
	<key>API_KEY</key>
	<string>AIzaSyCUIk9l8tKLTwTdcKNZZxMH7oE0H35sM0A</string>
	<key>GCM_SENDER_ID</key>
	<string>1071220220529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ngoLink</string>
	<key>PROJECT_ID</key>
	<string>ngo-link-new</string>
	<key>STORAGE_BUCKET</key>
	<string>ngo-link-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071220220529:ios:651b598130c8136ee271d0</string>
</dict>
</plist>